.DateWrapper {
  color: #fff;
  font-size: 3em;
  margin-left: 15px;
  width: 100%;
}

.Date {
  padding: 170px 57px 57px;
  text-align: center;
  color: white;
}

@media only screen and (max-width: 600px) {
  .DateWrapper {
    font-size: 2em;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .DateWrapper {
    font-size: 2.5em;
  }
}
