.LogoWrapper img {
  display: block;
  position: fixed;
}

.LogoWrapper--vertical img {
  width: 299px;
  margin: 75px 35px;
  right: 0;
}

.LogoWrapper--horizontal img {
  max-height: 50px;
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .LogoWrapper img {
    width: 300px;
  }
}
