.PrayerTimesWrapper {
  width: 100%;
}

.PrayerTimeWrapper {
  width: 100%;
  height: 100%;
  padding-top: 10px;
}

.PrayerTimes {
  font-size: 2.7em;
  text-align: right;
  color: white;
  padding-right: 40px;
  padding-left: 30px;
  width: 100%;
}

.PrayerTimes th {
  font-weight: bolder;
  font-size: 1em;
  text-align: right;
}

.PrayerTimes th:last-child {
  padding-left: 50px;
}

.PrayerTimes td,
.PrayerTimes th {
  margin: 100px;
  padding-bottom: 0px;
  text-align: center;
}

.PrayerTimes th:first-child {
  font-size: 1em;
}

.PrayerTimes .mithl-text {
  font-size: 0.5em;
  max-width: 80px;
}

.PrayerTimes td {
  min-width: 80px;
  font-size: 1.1em;
}

.PrayerTimes td:last-child {
  font-weight: bolder;
}

.PrayerTimes td:last-child.normal-text {
  font-weight: normal;
}

@media only screen and (max-width: 600px) {
  .PrayerTimesWrapper {
    width: 100%;
  }

  .PrayerTimes {
    font-size: 1em;
    margin-left: 0;
    width: 100%;
  }

  .PrayerTimes th:last-child {
    padding-left: 0;
  }

  .PrayerTimes td {
    min-width: 10px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .PrayerTimes {
    font-size: 2em;
    margin-left: 0;
    width: 100%;
    padding: 30px;
  }

  .PrayerTimes th:last-child {
    padding-left: 0;
  }

  .PrayerTimes td {
    min-width: 10px;
  }
}
